html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  margin: 0;
  padding: 0;
}
input {
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea {
  outline: none;
}
strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.cb {
  clear: both;
}
.optimize {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
}
@font-face {
  font-family: 'BrandonGrotesque-Black';
  src: url('../fonts/BrandonGrotesque-Black.eot?15905336');
  src: url('../fonts/BrandonGrotesque-Black.eot?15905336#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Black.woff?15905336') format('woff'), url('../fonts/BrandonGrotesque-Black.ttf?15905336') format('truetype'), url('../fonts/BrandonGrotesque-Black.svg?15905336#BrandonGrotesque-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('../fonts/BrandonGrotesque-Bold.eot?15905336');
  src: url('../fonts/BrandonGrotesque-Bold.eot?15905336#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Bold.woff?15905336') format('woff'), url('../fonts/BrandonGrotesque-Bold.ttf?15905336') format('truetype'), url('../fonts/BrandonGrotesque-Bold.svg?15905336#BrandonGrotesque-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../fonts/BrandonGrotesque-Regular.eot?15905336');
  src: url('../fonts/BrandonGrotesque-Regular.eot?15905336#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Regular.woff?15905336') format('woff'), url('../fonts/BrandonGrotesque-Regular.ttf?15905336') format('truetype'), url('../fonts/BrandonGrotesque-Regular.svg?15905336#BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('../fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Light.otf') format('opentype'), url('../fonts/BrandonGrotesque-Light.woff') format('woff'), url('../fonts/BrandonGrotesque-Light.ttf') format('truetype'), url('../fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarrietDisplay-Bold';
  src: url('../fonts/HarrietDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HarrietDisplay-Bold.woff') format('woff'), url('../fonts/HarrietDisplay-Bold.ttf') format('truetype'), url('../fonts/HarrietDisplay-Bold.svg#HarrietDisplay-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarrietDisplay-MediumItalic';
  src: url('../fonts/HarrietDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HarrietDisplay-MediumItalic.woff') format('woff'), url('../fonts/HarrietDisplay-MediumItalic.ttf') format('truetype'), url('../fonts/HarrietDisplay-MediumItalic.svg#HarrietDisplay-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarrietDisplay-RegularItalic';
  src: url('../fonts/HarrietDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HarrietDisplay-RegularItalic.woff') format('woff'), url('../fonts/HarrietDisplay-RegularItalic.ttf') format('truetype'), url('../fonts/HarrietDisplay-RegularItalic.svg#HarrietDisplay-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarrietDisplay-ThinItalic';
  src: url('../fonts/HarrietDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HarrietDisplay-ThinItalic.woff') format('woff'), url('../fonts/HarrietDisplay-ThinItalic.ttf') format('truetype'), url('../fonts/HarrietDisplay-ThinItalic.svg#HarrietDisplay-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.brandon-grotesque-black {
  font-family: 'BrandonGrotesque-Black', Verdana, sans-serif;
}
.brandon-grotesque-bold {
  font-family: 'BrandonGrotesque-Bold', Verdana, sans-serif;
}
.brandon-grotesque-regular {
  font-family: 'BrandonGrotesque-Regular', Verdana, sans-serif;
}
.brandon-grotesque-light {
  font-family: 'BrandonGrotesque-Light', Verdana, sans-serif;
}
.harriet-display-bold {
  font-family: 'HarrietDisplay-Bold', Verdana, sans-serif;
}
.harriet-display-medium-italic {
  font-family: "HarrietDisplay-MediumItalic", Verdana, sans-serif;
}
.harriet-display-regular-italic {
  font-family: "HarrietDisplay-RegularItalic", Verdana, sans-serif;
}
.harriet-display-light-italic {
  font-family: "HarrietDisplay-ThinItalic", Verdana, sans-serif;
}
.center-text {
  text-align: center;
}
.body-font {
  font-family: 'BrandonGrotesque-Regular', Verdana, sans-serif;
}
body {
  font-family: 'BrandonGrotesque-Regular', Verdana, sans-serif;
  color: #323132;
  font-size: 17px;
  line-height: 18px;
  overflow-x: hidden;
}
body,
html {
  background: #fff;
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#page-wrapper {
  height: 100%;
  position: relative;
}
#page-wrapper #header-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  background: #323132;
}
#page-wrapper #header-wrapper header#main-header {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media all and (max-width: 992px) {
  #page-wrapper #header-wrapper header#main-header {
    padding: 0px;
  }
}
#page-wrapper #header-wrapper.shadow,
#page-wrapper #header-wrapper.permanent-shadow {
  box-shadow: 1px 1px 16px #EAEAEA;
}
#page-wrapper .logo-wrapper {
  display: table;
  float: left;
}
#page-wrapper .logo-wrapper .site-logo {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  opacity: 1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#page-wrapper .logo-wrapper .site-logo img {
  vertical-align: middle;
}
#page-wrapper .logo-wrapper .site-logo span {
  color: #ffffff;
  padding-left: 6px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2em;
}
#page-wrapper #menu-wrapper {
  float: right;
  display: table;
}
#page-wrapper #menu-wrapper nav {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}
@media all and (max-width: 992px) {
  #page-wrapper #menu-wrapper nav {
    height: auto;
  }
}
#page-wrapper #menu-wrapper nav i.mobile-menu-btn {
  margin-top: 22px;
}
#page-wrapper #menu-wrapper nav ul.main-menu li {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
@media all and (max-width: 1200px) {
  #page-wrapper #menu-wrapper nav ul.main-menu li {
    margin-right: 8px;
  }
}
#page-wrapper #menu-wrapper nav ul.main-menu li a {
  font-family: 'BrandonGrotesque-Bold', Verdana, sans-serif;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0.2em;
  line-height: 22px;
  text-transform: uppercase;
}
#page-wrapper #menu-wrapper nav ul.main-menu li a:hover:after {
  content: "...";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 12px;
  font-size: 8px;
  letter-spacing: 0.5em;
}
#page-wrapper #menu-wrapper nav ul.main-menu li:last-child a {
  border-left: 1px solid #ffffff;
  padding-left: 20px;
  color: #427e9a;
}
#page-wrapper #menu-wrapper nav ul.mobile-menu {
  display: none;
  margin-top: 6px;
}
#page-wrapper #menu-wrapper nav ul.mobile-menu li {
  padding-bottom: 10px;
}
#page-wrapper #menu-wrapper nav ul.mobile-menu li:first-child {
  padding-top: 10px;
}
#page-wrapper #menu-wrapper nav ul.mobile-menu li:last-child {
  padding-bottom: 20px;
}
#page-wrapper #menu-wrapper nav ul.mobile-menu li a {
  font-family: 'BrandonGrotesque-Bold', Verdana, sans-serif;
  color: #323132;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 27px;
}
#page-wrapper .carousel,
#page-wrapper .item {
  height: 100%;
}
#page-wrapper .slider-wrapper {
  margin-top: 50px;
}
@media all and (max-width: 992px) {
  #page-wrapper .slider-wrapper {
    margin-top: 60px;
  }
}
#page-wrapper .slider-wrapper .carousel-inner {
  height: 100%;
}
#page-wrapper .slider-wrapper .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
#page-wrapper .slider-wrapper .carousel-inner .bg1 {
  background-image: url('../images/content/slide-1.jpg');
  background-position: center top;
}
#page-wrapper .slider-wrapper .carousel-inner .bg2 {
  background-image: url('../images/content/slide-1.jpg');
  background-position: center top;
}
#page-wrapper .slider-wrapper .carousel-inner .item {
  background-color: #777;
}
#page-wrapper .slider-wrapper .carousel-inner .item .carousel-caption {
  z-index: 10;
}
#page-wrapper .slider-wrapper .carousel-inner .item .item-cta {
  position: absolute;
  bottom: 25px;
  left: 20px;
}
#page-wrapper .slider-wrapper .carousel-inner .item .item-cta img {
  display: inline-block;
  width: 33px;
  vertical-align: middle;
}
#page-wrapper .slider-wrapper .carousel-inner .item .item-cta a {
  font-family: 'BrandonGrotesque-Bold', Verdana, sans-serif;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #ffffff;
}
#page-wrapper .slider-wrapper .carousel-indicators li {
  margin-right: 14px;
  width: 8px;
  height: 8px;
}
#page-wrapper .slider-wrapper .carousel-indicators li.active {
  margin: 1px;
  margin-right: 14px;
  width: 8px;
  height: 8px;
}
#page-wrapper .slider-wrapper div.item img {
  width: 100%;
}
#page-wrapper .slider-wrapper div.item div.carousel-caption {
  width: 660px;
  position: absolute;
  left: 50%;
  top: 30%;
}
#page-wrapper .slider-wrapper div.item div.carousel-caption div.caption-text {
  position: relative;
  left: -50%;
}
#page-wrapper .slider-wrapper div.item div.carousel-caption div.caption-text h1 {
  font-family: "HarrietDisplay-MediumItalic", Verdana, sans-serif;
  font-size: 79px;
  line-height: 79px;
  text-transform: none;
  text-shadow: 0 1px 100px #000000;
}
#page-wrapper .slider-wrapper div.item div.carousel-caption div.caption-text h5 {
  font-family: 'BrandonGrotesque-Black', Verdana, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  text-shadow: 0 1px 100px #000000;
  margin-bottom: 20px;
}
#page-wrapper .slider-wrapper div.item div.carousel-caption div.caption-text hr {
  border-bottom: 3px solid #ffffff;
  margin: 30px auto;
  width: 45px;
  display: block;
}
#page-wrapper .slider-wrapper div.item div.carousel-caption div.caption-text p {
  font-family: 'BrandonGrotesque-Light', Verdana, sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  width: 400px;
  display: block;
  margin: 0 auto;
}
#page-wrapper #content-wrapper {
  /*padding-bottom: 255px;*/
  /*padding-bottom: 185px;*/
  /* height of footer */
  /*&.home {*/
  padding-bottom: 150px;
  /*}*/
}
#page-wrapper #footer-wrapper {
  height: auto;
  width: 100%;
  /*position: absolute;*/
  left: 0;
  bottom: 48px;
  padding-top: 45px;
  padding-bottom: 60px;
}
#page-wrapper #footer-wrapper.fixed-footer {
  position: static!important;
}
#page-wrapper #copyright-wrapper {
  height: auto;
  width: 100%;
  /*position: absolute;*/
  left: 0;
  bottom: 0px;
  padding-bottom: 20px;
}
#page-wrapper #copyright-wrapper.fixed-footer {
  position: static!important;
}
#page-wrapper #copyright-wrapper p {
  text-align: left;
  font-size: 10px;
}
#page-wrapper .instagram {
  background: url(../images/icons/instagram.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
#page-wrapper .instagram:hover {
  background: url(../images/icons/instagram-hover.png) no-repeat;
}
#page-wrapper .pintrest {
  background: url(../images/icons/pintrest.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
#page-wrapper .pintrest:hover {
  background: url(../images/icons/pintrest-hover.png) no-repeat;
}
#page-wrapper .facebook {
  background: url(../images/icons/facebook.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
#page-wrapper .facebook:hover {
  background: url(../images/icons/facebook-hover.png) no-repeat;
}
#page-wrapper .twitter {
  background: url(../images/icons/twitter.png) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
#page-wrapper .twitter:hover {
  background: url(../images/icons/twitter-hover.png) no-repeat;
}
#page-wrapper div.dropdown {
  display: inline-block;
  position: relative;
}
#page-wrapper div.dropdown:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../images/icons/dropdown.png) no-repeat 0px 11px;
  position: absolute;
  display: block;
  right: 0px;
  pointer-events: none;
}
#page-wrapper div.dropdown select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#page-wrapper input[type="checkbox"] {
  margin: 0px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  z-index: 999;
  position: relative;
  top: 0px;
  left: 2px;
  display: inline-block;
}
#page-wrapper input[type="checkbox"] + label span {
  /*float: left;*/
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid #a7a9ac;
  z-index: -999;
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
}
#page-wrapper input[type="checkbox"]:checked + label span:after {
  content: '\2713';
  position: absolute;
  top: -2px;
  left: 2px;
}
#page-wrapper label.checkbox-label {
  display: inline-block;
  margin-left: -17px;
  position: relative;
  vertical-align: top;
}
#page-wrapper label.checkbox-label p.label-text {
  /*float: left;*/
  display: inline-block;
  line-height: 18px;
  vertical-align: top;
  height: 13px;
  font-size: 13px;
  letter-spacing: 0.03em;
}
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
h1 {
  font-family: "HarrietDisplay-MediumItalic", Verdana, sans-serif;
  font-size: 79px;
  text-transform: uppercase;
}
h2 {
  font-family: "HarrietDisplay-MediumItalic", Verdana, sans-serif;
  font-size: 38px;
}
h3 {
  font-family: 'BrandonGrotesque-Bold', Verdana, sans-serif;
  font-size: 17px;
  letter-spacing: 0.08em;
}
h4 {
  font-family: "HarrietDisplay-RegularItalic", Verdana, sans-serif;
  font-size: 17px;
  line-height: 22px;
}
h5 {
  font-family: 'BrandonGrotesque-Regular', Verdana, sans-serif;
  font-size: 16px;
}
hr.small {
  width: 30px;
  margin-top: 12px;
  margin-bottom: 15px;
}
p {
  font-family: 'BrandonGrotesque-Regular', Verdana, sans-serif;
  font-size: 16px;
}
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
.cta {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
}
.cta i {
  font-size: 12px;
  margin-right: 7px;
}
.vertical-line {
  border-left: 1px solid #ccc;
  height: 770px;
  width: 1px;
  margin: 0 auto;
  margin-right: 50px;
}
@media all and (max-width: 992px) {
  .vertical-line {
    border-left: 0px;
    border-bottom: 1px solid #ccc;
    height: 1px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
.space10 {
  height: 10px;
}
.space20 {
  height: 20px;
}
.space30 {
  height: 30px;
}
.space40 {
  height: 40px;
}
.space50 {
  height: 50px;
}
.space100 {
  height: 100px;
}
.space200 {
  height: 200px;
}
.space400 {
  height: 400px;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clear:after {
  clear: both;
}
.home .discover-us {
  padding-top: 70px;
  padding-bottom: 70px;
}
.home .discover-us .text-content {
  display: inline-block;
  width: 440px;
  float: left;
}
.home .discover-us .text-content h3 {
  color: #427e9a;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.08em;
}
.home .discover-us .text-content h2 {
  font-size: 38px;
  line-height: 38px;
  color: #242424;
}
.home .discover-us .text-content hr {
  border-bottom: 4px solid #242424;
  width: 88px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.home .discover-us .text-content ul li {
  padding-bottom: 28px;
  padding-top: 23px;
  border-bottom: 1px solid #e1e1e1;
}
.home .discover-us .text-content ul li .circle {
  background-color: #e7e7e7;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 8px;
  height: 40px;
  width: 40px;
  font-family: 'HarrietDisplay-Bold', Verdana, sans-serif;
  font-size: 17px;
  letter-spacing: .075em;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.home .discover-us .text-content ul li .text {
  display: inline-block;
  margin-left: 20px;
  padding-top: 9px;
}
.home .discover-us .text-content ul li h3 {
  color: #242424;
  font-size: 17px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
.home .discover-us .text-content ul li p {
  font-family: 'BrandonGrotesque-Regular', Verdana, sans-serif;
  font-size: 16px;
  color: #636363;
}
.home .discover-us .img-content {
  display: inline-block;
  /* ---- grid ---- */
  /* clear fix */
  /* ---- .grid-item ---- */
}
.home .discover-us .img-content .grid {
  background: #DDD;
  max-width: 1200px;
  width: 680px;
}
.home .discover-us .img-content .grid:after {
  content: '';
  display: block;
  clear: both;
}
.home .discover-us .img-content .grid-item {
  float: left;
  width: 215px;
  height: 160px;
  background: #0D8;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.7);
}
.home .discover-us .img-content .grid-item--width2 {
  width: 440px;
}
.home .discover-us .img-content .grid-item--height2 {
  height: 330px;
}
div#footer-wrapper {
  padding-top: 32px;
}
@media all and (max-width: 999px) {
  div#footer-wrapper .links-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
div#footer-wrapper .links {
  display: inline-block;
  vertical-align: top;
  /*margin-left: 94px;*/
  /*margin-left: 60px;*/
  width: 30%;
}
@media all and (max-width: 1200px) {
  div#footer-wrapper .links {
    /*margin-left: 30px;*/
  }
}
@media all and (max-width: 580px) {
  div#footer-wrapper .links {
    display: block;
    /*margin: 0px; */
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
div#footer-wrapper .links:nth-of-type(1) {
  margin-left: 0px;
}
@media all and (max-width: 580px) {
  div#footer-wrapper hr {
    margin: 11px auto;
  }
}
div#footer-wrapper hr {
  margin-top: 11px;
  margin-bottom: 11px;
}
@media all and (max-width: 580px) {
  div#footer-wrapper h2 {
    text-align: center;
    letter-spacing: 0.03em;
  }
}
div#footer-wrapper p {
  font-size: 11px;
  line-height: 17px;
  margin-bottom: 10px;
}
div#footer-wrapper ul.share-ctas li {
  display: inline-block;
}
@media all and (max-width: 580px) {
  div#footer-wrapper ul {
    text-align: center;
  }
}
div#footer-wrapper ul li a {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 20px;
}
div#footer-wrapper .search input {
  display: block;
  border: 1px solid #cccccc!important;
  width: 280px;
  height: 30px;
  font-size: 12px;
  padding-left: 10px;
}
@media all and (max-width: 580px) {
  div#footer-wrapper .search input {
    margin: 0 auto;
  }
}
div#footer-wrapper .search button {
  background: none;
  border: none;
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
}
@media all and (max-width: 580px) {
  div#footer-wrapper .search button {
    margin: 10px auto;
    display: block;
  }
}
div#footer-wrapper .search button i {
  font-size: 11px;
  padding-left: 1px;
  padding-right: 5px;
}
